// Padding & Margin

.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }
}

.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }
}

// Container
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Fonts (headers/p)

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

p {
  font-family: $font-secondary;
  font-size: 1.5rem;
}

// Header font-sizing
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

// Buttons

%btn-shared {
  display: inline-block;
  border: 0;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 3px;
  font-size: 1.2rem;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background: $primary-color;
    color: $black;
  }
}
