// Fonts
$font-primary: "Barlow", sans-serif;
$font-secondary: "Nunito", sans-serif;

// Colors
$primary-color: #6bb36b;
$dark-color: #99ff99;
$pop-color: #99ffff;
$light-color: #d6ff99;
$gray: #b5b5b5;
$black: #000000;
$white: #ffff;
$green-color: #96b36b;

// Misc
$website-width: 1280px;
