/* Centers Text in Navbar */
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* Initial Landing Page-- Intro */
#head-shot {
    height: 450px auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 100%;
}

#head-shot-div {
    width: 100%
}